<!DOCTYPE html>
<html lang="en">
<head>
  <title>R_Lanffy - {{ page.title }} </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="verify-v1" content="fI45uNHehVNiO9Dt0Fp7XnsV0Z/ozBTkPoS6RlYAe50=" />
  <meta name="y_key" content="6c948e75a617b12d" />
  <meta name='technorati-claim' content='8QN7CWNH8BSJ' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" media="screen" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="R_Lanffy's blog" />
</head>

<body class='{{ page.page_name }}'>
  <div class="container">
    <div class="row">
		<div class="span4 sidebar affix">
			<div class="well">
				<h2 class='site-title'>
					<a href="{{ site.production_url }}">一个风向</a>
				</h2>

				<p>A blog about writing software and things.</p>

				<ul id="navigation" class="clearfix">
					<li class='about'><a href='/about/'>关于我</a></li>
					<li class='archives'><a href='/archives/'>我的文章</a></li>
					<li ><a href='http://lanffy.github.io/Albums/' target=_blank>我的照片</a></li>
					<!--<li class="github"><a href="http://github.com/lanffy" rel='me' class='url' target=_blank>@github</a></li>
					<li class="twitter"><a href="http://weibo.com/206661350" rel="me" class="url" target=_blank>@一个风向</a></li>-->
				</ul>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>

			<div><p>联系我<br/>github:<a href="https://github.com/lanffy" target=_blank><img src="/images/github.png" title="github" alt="github" /></a>&nbsp;|&nbsp;微博:<a href="http://weibo.com/206661350" target=_blank><img src="/images/weibo.png" title="微博" alt="weibo" /></a>&nbsp;|&nbsp;邮箱:<a href="mailto:rlanffy@gmail.com"><img src="/images/email.jpg" title="给我发邮件" alt="mail to me" /></a>&nbsp;|&nbsp;源码:<a href="https://github.com/lanffy/lanffy.github.io" target=_blank ><img src="/images/source2.jpg" title="源代码" alt="源代码"></a></p>
			
			</div>
		</div>
      <div class="span8 main offset4">
        <div class="well">
          {{ content }}
        </div>
      </div>

      <div id="bottom" class="span8 offset4">
        <div class="well">
          <a href="/about/">About</a> |
          <a href="/archives/">Archives</a> |
          <a href='http://lanffy.github.io/Albums/' target=_blank>Photos</a>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

  <!-- Google Analytics Code 
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9947336-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
          'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
    })();

  </script>
  -->
   <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'lanffy'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</body>
</html>

