---
layout: default
page_name: blog
---

<div class="post">
    <h1>{{page.title}}</h1>
    <small class="meta">Posted {{ page.date | date:"%B %d, %Y" }}</small>
    {{ content }}
</div>

<div class='paging'>
    {% if paginator.next_page %}
        <a href='/page{{paginator.next_page}}' class='older'>Older Posts</a>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href='/' class='newer'>Newer Posts</a>
        {% else %}
            <a href='/page{{paginator.previous_page}}' class='newer'>Newer Posts</a>
        {% endif %}
    {% endif %}
</div>

<div id="comments">
  <h3>Comments</h3>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'lanffy'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
