---
layout: default
---

<link rel="stylesheet" href="/css/blog.css">

{% if page.photo %}
<div class="post-photo" style="background-image: url('{{ page.photo }}')">
</div>
{% endif %}

<div id="container">
    <article>
        <div class="inner">
            <div class="post-header">
                <h1> {{ page.title }} </h1>
                <ul class="meta">
                    <i class="fa fa-calendar"></i>
                    {{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="space"></i>

                    {% if page.categories %}
                    <i class="fa fa-archive"></i>
                    <a class="tag" href="{{ site.url }}/categories#{{ page.categories }}">{{ page.categories
                        }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="space"></i>
                    {% endif %}

                    {% if page.tags %}
                    <i class="fa fa-tags"></i>
                    {% for tag in page.tags %}
                    {{ tag }}&nbsp;&nbsp;
                    <i class="space"></i>
                    {% endfor %} &nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    <i class="space"></i> 字数:{{page.content | size |divided_by:2}}
                </ul>
            </div>
        </div>
        <div class="post">
            <div id="content">
                <div class="sidebox">
                    <div class="sidebar">
                        <div class="toc"></div>
                    </div>
                </div>
                {{ content }}
            </div>
        </div>
    </article>

    <div class="inner">
        <div class="article_copyright">
            <p><span>文章标题:</span>{{ page.title }}</p>
            <p><span>文章字数:</span><span class="post-count">{{page.content | size |divided_by:2}}</span></p>
            <p><span class="fa fa-calendar">发布时间:</span>{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{
                page.date | date: "%d" }}日</p>
            <p>
                <span>原始链接:</span>
                <a class="post-url" href="{{site.production_url}}{{ page.url }}" title="{{ page.title }}">
                    {{site.production_url}}{{ page.url }}
                </a>
            </p>
            <p>
                <span>版权声明:</span>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                   title="CC BY-NC-SA 4.0 International"
                   target="_blank">"署名-非商用-相同方式共享 4.0"</a> 转载请保留原文链接及作者。
            </p>
        </div>
    </div>

    <!--翻页功能-->
    <section class="inner">
        <ul class="pager">
            {% if page.previous.url %}
            <li class="previous">
                <a href="{{page.previous.url}}">←{{page.previous.title}}</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
                <a href="{{page.next.url}}">{{page.next.title}}→</a>
            </li>
            {% endif %}
        </ul>
    </section>

    <!--评论功能-->
    <section class="comments inner duoshuo">
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC80MjczNi8xOTI4Mw==">
            <script type="text/javascript">
                (function (d, s) {
                    var j, e = d.getElementsByTagName(s)[0];

                    if (typeof LivereTower === 'function') {
                        return;
                    }

                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;

                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
            </script>
            <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->

    </section>
</div>

<!--<script type="text/javascript"-->
<!--src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">-->
<!--</script>-->

